{% load geojson_tags %}
{% load leaflet_tags %}
{% load static %}
<html>
<head>
    {% leaflet_js %}
    {% leaflet_css %}
</head>
<body>
    <h1>{{ province.name }}</h1>
    
    <div id="map">{% leaflet_map "map" %}</div>
    
    <!-- แปลงข้อมูล geom เป็น JSON และซ่อนไว้ -->
    <script id="geojson-data" type="application/json">
        {{ province.geom|geojsonfeature }}
    </script>
    
    <script type="text/javascript">
        function map_init(map, options) {
            var geojsonData = JSON.parse(document.getElementById('geojson-data').textContent);
            var area = L.geoJson(geojsonData).addTo(map);
            map.fitBounds(area.getBounds());
        }
    </script>
</body>
</html>
